mixin textfield (name='Text Field', placeholder='Email')
    .textfield
        .textfield-header 
            .textfield-header__text=name
        .textfield-input 
                input(placeholder=placeholder, class="textfield-input__input")