include ../utils/dropdown
include ../utils/textfield
include ../utils/checkboxlist
include ../utils/radiobtn
include ../utils/miniinfo
include ../utils/toggle
doctype html
html
  include ../includes/head
  body
    //- +textfield
    //- +dropdownroom
    //- +dropdownpeople
    //- +checkbox
    //- +checkboxbuttons
    //- +radiobtn
    //- +miniinfo
    +toggle
    

    script(src='/dist/main.js')
    
    
