include ../utils/dropdown
include ../utils/textfield
include ../utils/checkboxlist
include ../utils/radiobtn
include ../utils/miniinfo
include ../utils/toggle
include ../utils/likebutton
include ../utils/richcheck
include ../utils/bullet
include ../utils/comment
doctype html
html
  include ../includes/head
  body
    //- +textfield
    //- +dropdownroom
    //- +dropdownpeople
    //- +checkbox
    //- +checkboxbuttons
    //- +radiobtn
    //- +miniinfo
    //- +toggle
    //- +likebutton
    //- +richcheck
    //- +bullet
    +comment

    script(src='/dist/main.js')
    
    
