include ../utils/dropdown
include ../utils/textfield
include ../utils/checkboxlist
doctype html
html
  include ../includes/head
  body
    //- +textfield
    //- +dropdownroom
    //- +dropdownpeople
    +checkbox
    

    script(src='/dist/main.js')
    
    
