include ../utils/dropdown
include ../utils/textfield
include ../utils/checkboxlist
include ../utils/radiobtn
include ../utils/miniinfo
include ../utils/toggle
include ../utils/likebutton
include ../utils/richcheck
include ../utils/bullet
include ../utils/comment
include ../utils/rate
include ../utils/buttonsVar1
include ../utils/buttonsVar2
include ../utils/buttonsVar3
include ../utils/buttonsVar4
doctype html
html
  include ../includes/head
  body
    //- +textfield
    //- +dropdownroom
    //- +dropdownpeople
    //- +checkbox
    //- +checkboxbuttons
    //- +radiobtn
    //- +miniinfo
    //- +toggle
    //- +likebutton
    //- +richcheck
    //- +bullet
    +comment
    +rate
    +buttonsVar1
    +buttonsVar2
    +buttonsVar3
    +buttonsVar4

    script(src='/dist/main.js')
    
    
